*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul a{
    color: gray;
    text-decoration: none;
}
.home-animation{
    transition: 0.1s;
}
.home-animation:hover{
    border-bottom: 4px solid gray;
}
.features-animation{
    transition: 0.1s;
}
.features-animation:hover{
    border-bottom: 4px solid gray;
}
.contact-animation{
    transition: 0.1s;
    border-bottom: 4px solid white;
}
.contact-animation:hover{
    border-bottom: 4px solid gray;
}